@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glitch {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(0.5deg);
  }
  5% {
    clip: rect(12px, 9999px, 83px, 0);
    transform: skew(0.3deg);
  }
  10% {
    clip: rect(84px, 9999px, 44px, 0);
    transform: skew(0.5deg);
  }
  15% {
    clip: rect(52px, 9999px, 9px, 0);
    transform: skew(0.2deg);
  }
  20% {
    clip: rect(89px, 9999px, 66px, 0);
    transform: skew(0.4deg);
  }
  25% {
    clip: rect(60px, 9999px, 70px, 0);
    transform: skew(0.3deg);
  }
  30% {
    clip: rect(23px, 9999px, 56px, 0);
    transform: skew(0.5deg);
  }
  35% {
    clip: rect(21px, 9999px, 8px, 0);
    transform: skew(0.2deg);
  }
  40% {
    clip: rect(25px, 9999px, 66px, 0);
    transform: skew(0.4deg);
  }
  45% {
    clip: rect(11px, 9999px, 14px, 0);
    transform: skew(0.3deg);
  }
  50% {
    clip: rect(57px, 9999px, 99px, 0);
    transform: skew(0.2deg);
  }
  55% {
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(0.4deg);
  }
  60% {
    clip: rect(84px, 9999px, 44px, 0);
    transform: skew(0.3deg);
  }
  65% {
    clip: rect(52px, 9999px, 9px, 0);
    transform: skew(0.5deg);
  }
  70% {
    clip: rect(23px, 9999px, 56px, 0);
    transform: skew(0.2deg);
  }
  75% {
    clip: rect(21px, 9999px, 8px, 0);
    transform: skew(0.4deg);
  }
  80% {
    clip: rect(25px, 9999px, 66px, 0);
    transform: skew(0.3deg);
  }
  85% {
    clip: rect(11px, 9999px, 14px, 0);
    transform: skew(0.5deg);
  }
  90% {
    clip: rect(57px, 9999px, 99px, 0);
    transform: skew(0.2deg);
  }
  95% {
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(0.3deg);
  }
  100% {
    clip: rect(0, 9999px, 0, 0);
    transform: none;
  }
}

.glitch {
  position: relative;
  font-size: 2rem;
  color: white;
  line-height: 1.2;
  animation: glitch 1s steps(2, end) infinite 3s;
  animation-duration: 4s; /* Total duration including pause */
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  animation: glitch 1s steps(2, end) infinite 3s;
  animation-duration: 4s; /* Total duration including pause */
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 red;
}

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 blue;
}
